# Q3 Create your own Jupyter Notebook for Sets

In [1]:
myset={"India","Hindustan","Bharat","Aryavarat"}
print(myset)

{'Aryavarat', 'Bharat', 'Hindustan', 'India'}

In [4]:
s = {11,22,33,44,55}
print(s)

{33, 11, 44, 22, 55}

In [5]:
print(type(s))
for i in s:
    print(i)

<class 'set'>
33
11
44
22
55

In [6]:
s.add(77)
s

{11, 22, 33, 44, 55, 77}

In [7]:
s.update([66,88,99])
s

{11, 22, 33, 44, 55, 66, 77, 88, 99}

In [8]:
s.remove(22)
s

{11, 33, 44, 55, 66, 77, 88, 99}

In [9]:
s.discard(55)
s

{11, 33, 44, 66, 77, 88, 99}

# Q5 With a given list L, write a program to print this list L after removing all duplicate values with original order reserved Example: If the input list is 12 24 35 24 88 120 155 88 120 155

In [10]:
def dup(x):
  return list(dict.fromkeys(x))

remdup = dup([12, 24, 35, 24, 88, 120, 155, 88, 120, 155])

print(remdup)

[12, 24, 35, 88, 120, 155]

# Q1 Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [11]:
a='aashish@gmail.com'
b='aashish@rediffmail.com'
company = a.split('@')[1].split('.')[0]
print(f'Company name is: {company}')

Company name is: gmail

In [13]:
a='aashish@gmail.com'
b='aashish@rediffmail.com'
company = b.split('@')[1].split('.')[0]
print(f'User name is: {company}')

User name is: rediffmail

# Q2 Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [15]:
words = input('Enter the words: ').split(',')
words.sort()
words_sorted = ','.join(i for i in words)
print(words_sorted)

Enter the words: India,is,a,Great,Country
Country,Great,India,a,is

# Q4 Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates

In [16]:
def misnum(num_list):
    return sum(range(num_list[0],num_list[-1]+1)) - sum(num_list)

print(misnum([1,2,4,6,3,7,8]))

5